priceous.iml
/target
/classes
/checkouts
pom.xml
pom.xml.as
*.jar
*.class
.idea/
*.iml
/.lein-*
/.nrepl-port
.hgignore
.hg/
priceous.log*
config.edn
temp/
resourses/solr/whisky/data/
resourses/solr/whisky/conf/managed-schema
resourses/solr/whisky/conf/schema.xml.bak
