{:alcohol          46.0
 :available        true
 :country          "Шотландия"
 :description      "Аромат Пряный, но сладкий с акцентами изюма, меда, ириски, шоколада и цитрусовых фруктов. Вкус Сладковатый вкус раскрывается оттенками изюма, меда, пряностей и фруктов. Послевкусие долгое, гладкое, с ванильными нюансами."
 :image            "https://elitochka.com.ua/image/cache/data/Tovar1/Balblair-Limited-Edition-1990-Year-elitochka.com.ua-570x600.jpg"
 :link             nil
 :name             "Balblair Limited Edition 1990 Year 0,7L (Балблэр Лимитед Эдишн 1990 год 0,7л)"
 :price            3800.0
 :provider         "Elitochka"
 :sale             true
 :sale-description "старая цена 5472.00"
 :type             "Виски Односолодовый"
 :volume           0.7}