{
 :app {:name "Priceous"
       :version "0.3.0"}

 :server {
          :port 3000

          ;; number of requests / per IP / per hour
          :rate-limit 1000
          }

 :solr {:host "http://localhost:8983/solr"
        :collection "whisky"}

 :scheduler {:delay 0
             :value 12
             :time-unit "HOURS"}

 :alert {
         :emails ["mishadoff@gmail.com"]
         :from "alcopriceous@gmail.com"
         :password "<PASSWORD>"
 }

 :scrapping {:providers
             ["goodwine"
              
              "winetime"
              "alcoland"
              "alcomag"
              "alcoparty"
              "alcostore"
              "alcovegas"
              "auchan"
              "barbados"
              "bestwine"
              "dutyfreeshop"
              "dutyfreestore"
              "elitalco"
              "eliteclub"
              "elitochka"
              "etelefon"
              "fozzy"
              "megamarket"
              "metro"
              "novus"
              "rozetka"
              ]}
 :view {
        :per-page 10
        }
 }
