;; Properties for Priceous
{
 :app {:name "Priceous" :version "0.3.0"}

 :server {:port 8080 }

 :solr {:host "http://localhost:8983/solr"
        :collection "whisky"}

 :csv {:filepath "/Users/mkoz/temp/alcosearch.csv"}

 :scheduler {:delay 0
             :value 12
             :time-unit "HOURS"}

 :alert {
         :emails ["mishadoff@gmail.com"]
         :from "alcopriceous@gmail.com"
         :password "<PASSWORD>"
 }

 ;; FIXME: does not work as a property / always 1000
 :ratelimit 1000 ;; number of requests / per IP / per hour

 :scrapping {:providers
             ["goodwine"
              "winetime"

              "alcoland"
              "alcomag"
              "alcoparty"
              "alcostore"
              "alcovegas"
              "auchan"
              "barbados"
              "bestwine"
              "dutyfreeshop"
              "dutyfreestore"
              "elitalco"
              "eliteclub"
              "elitochka"
              "etelefon"
              "fozzy"
              "megamarket"
              "metro"
              "novus"
              "rozetka"
              ]}

 :appenders [:solr]

 :view {
        :per-page 10
        }
 }
