;; Properties for Priceous
{
 :app {:name "Priceous"
       :version "0.2.0"}

 :server {:port 8080 }

 :solr {:host "http://localhost:8983/solr"
        :collection "whisky"}

 :csv {:filepath "/Users/mkoz/temp/alcosearch.csv"}
 
 :scheduler {:delay 0 
             :value 12
             :time-unit "HOURS"}

 ;; FIXME: does not work
 :ratelimit 1000 ;; number of requests / per IP / per hour
 
 :scrapping {:providers
             ["alcoland"
              "alcomag"
              "alcoparty"
              "alcostore"
              "alcovegas"
              "auchan"
              "barbados"
              "bestwine"
              "dutyfreeshop"
              "dutyfreestore"
              "elitalco"
              "eliteclub"
              "elitochka"
              "etelefon"
              "fozzy"
              "goodwine"
              "kavist"
              "megamarket"
              "metro"
              "novus"
              "rozetka"
              "winetime"]}

 :appenders [:solr]

 :view {
        :per-page 10        
        }
 }
