;; Properties for Priceous
{
 :app {:name "Whisky Search"
       :version "0.0.1"}

 :server {:port 3000 }

 :solr {:host "http://localhost:8983/solr"
        :collection "whisky"}
 
 :scheduler {:delay 0
             :value 12
             :time-unit "HOURS"}

 :scrapping {:providers ["goodwine"
                         "winetime"
                         "elitochka"
                         "megamarket"
                         "rozetka"
                         "fozzy"
                         "metro"
                         "auchan"
                         "novus"]}

 }
