{:available        true
 :image            "https://megamarket.ua/uploads/products/50/10/49/60/1/76/9/base-228_0_1.jpg"
 :link             "https://megamarket.ua/product/5010496001769"
 :name             "Виски Auchentoshan 12 лет 40% 0.7 л (короб) х3"
 :price            1973.09
 :provider         "Megamarket"
 :sale             nil
 :excise           true
 :trusted          true
 :sale-description nil
 :type             "Виски"}