{:alcohol          40.0
 :available        true
 :country          "Шотландия Спейсайд"
 :description      "Фруктовый вкус с нотками ванили, груши, мёда и длительным, сухим послевкусием с нюансами шоколада"
 :image            "https://i2.rozetka.ua/goods/1416961/glenfiddich_5010327000176_images_1416961876.jpg"
 :link             nil
 :name             "Виски Glenfiddich 12 лет выдержки 0.7 л 40% "
 :price            1207.0
 :producer         "Крепкие напитки Glenfiddich"
 :product-code     "Rozetka_5851263"
 :provider         "Rozetka"
 :sale             nil
 :sale-description nil
 :type             "Виски односолодовый"
 :vintage          nil
 :volume           0.7
 :wine_grape       nil}