{:alcohol          10.0
 :available        true
 :country          "Япония Осака"
 :description      nil
 :image            "https://i1.rozetka.ua/goods/2071435/choya_4017871800055_images_2071435051.jpg"
 :link             nil
 :name             "Вино CHOYA Superior белое сладкое 0.75 л 10% "
 :price            335.0
 :producer         "Вино CHOYA"
 :product-code     "Rozetka_18863180"
 :provider         "Rozetka"
 :sale             true
 :sale-description "Цена по промокоду, старая цена 503.00"
 :type             "Вино Белое Сладкое"
 :vintage          nil
 :volume           0.75
 :wine_grape       nil
 }