body {
    margin: 0px;
    background-image: url("/images/beton.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    background-color: #f2f2f2;
    width: 100%;
    height: 50px;
    margin: 0px auto;
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
    box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header > div, .header > form {
    display: inline-block;
    padding: 5px;
}


.container {
    padding: 10px;
}

/* Ugly hack to hide submit button */
#search_submit {
    position: absolute;
    left: -9999px;
}

.item {
    border: 1px solid;
    border-color: #d9d9d9;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    background: #f2f2f2;
    font-family: 'Alegreya', serif;
    font-size: 20px;
    overflow: hidden;
    
    height: 100px;
    width: 50%;
    /* Center the div */
    margin-left: auto;
    margin-right: auto;
}

.query-container {
}

.query-text-field {
    font-family: 'Alegreya', serif;
    font-size: 24px;
    line-height: 1;
    background-color: #ffffff;
    width: 100%;
}

.item-image > img {
    height: 100px;
}

.item-images-container {
    width: 20%;
    float: left;
}

.item-main-container {
    float: right;
    width: 80%;
    height: 100%;
    position: relative;
}

.item-main-bottom {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.item-price {
    float: right;
    font-family: 'Alegreya', serif;
    font-size: 48px;
    line-height: 1;    
}

.provider_element {
    float: right;
}

div {
    border: 0px solid;
}

