html, body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("/images/beton.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#main {
    min-height: 100%;
    display: flex;
    height:100%;
    flex-direction: column;
    position: relative;
}

.header {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid;
    background-color: lightgrey;
}

.header > div {
    display: inline-block;
    height: 100%;
}

.footer {
    border-top: 1px solid;
    height: 50px;
    font-size: 14px;
    background-color: lightgrey;
    width: 100%;
}

.footer > div, .footer-left > div, .footer-center > div, .footer-right > div {
    display: inline-block;
}

.footer-left {
    height: 100%;
    width: 40%;
}

.footer-left > div {
    margin-top: 10px;
}


.footer-center {
    width: 20%;
}

.footer-right {
    height: 100%;
    width: 40%;
}

.footer-name {
    padding-left: 20px;
}

.footer-copyright {
    padding: 5px;
}

.footer-right-content {
    padding-right: 20px;
}

/* .container { */
/*     /\* position: absolute; *\/ */
/*     top: 50px; */
/* } */

.search-container {
    float: left;
    flex: 1;
    position: relative;
    height: auto;
    width: 100%;
}

.search-left-panel {
    left: 1%;
    width: 24%;
    float: left;
    height: 100%;
    position: absolute;
    background-color: #f2f2f2;
    overflow: auto;	
}

.search-right-panel {
    width: 73%;
    left: 26%;
    float: left;
    height: 100%;
    position: absolute;
    background-color: #f2f2f2;
    overflow: auto;
}




/* OLD STYLES */ 





.header > div, .header > form {
    display: inline-block;
    padding: 5px;
}

/* Ugly hack to hide submit button */
#search_submit {
    position: absolute;
    left: -9999px;
}

.item {
    border: 1px solid;
    padding: 20px;
    margin: 20px;
    background: white;
    font-size: 20px;
    overflow: hidden;

    
    height: 100px;
    width: 50%;
    /* Center the div */
    margin-left: auto;
    margin-right: auto;
}

.query-container {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.status-bar-small {
    padding-left: 45px;
    font-size: 12px;
}

.status-bar-regular {
    padding-top: 30px;
    padding-left: 30px;
    font-size: 18px;
}

.status-bar-error {
    padding-top: 30px;
    padding-left: 30px;
    font-size: 18px;
    color: red;
}

.status-bar-warning {
    color: #ff8c00;
}

/* Links management */


a.amber:link, a.amber:visited {
    background-color: grey;
    color: white;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    display: inline-block;
}

a.amber:hover, a.amber:active {
    background-color: #ff8c00;
}



a.itemlink:link, a.itemlink:visited {
    background-color: white;
    color: dimgrey;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    display: inline-block;
}

a.itemlink:hover, a.itemlink:active {
    background-color: #ff8c00;
    color: white;		   
}



.provider-element {
    postion: relative;
    float: right;
}


.query-text-field {
    font-size: 24px;
    line-height: 1;
    background-color: #ffffff;
    width: 100%;
}

.item-image > img {
    height: 100px;
}

.item-images-container {
    width: 20%;
    float: left;
}

.item-main-container {
    float: right;
    width: 80%;
    height: 100%;
    position: relative;
}

.item-main-bottom {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.item-price {
    border: 1px solid;
    position: relative;
    float: right;
    margin-left: 20px;
    padding: 5px;
    background-color: yellow;
    font-size: 24px;
    line-height: 1;    
}

div {
    border: 0px solid;
}

.kop {
    font-size: 12px;
    vertical-align: top;
    text-decoration: underline;
}

.query-examples {
    padding: 10px;
    list-style-type: none;
}

.query-examples > li {
    margin-bottom: 5px;
}

.query-examples-title {
    padding-left: 10px;
}

.sale-description {
    border: 1px solid;
    background-color: #FFB6C1;
    padding: 5px;
    margin-right: 10px;
    position: relative;
    float: right;
}