{:alcohol      13.5
 :available    false
 :country      "Аргентина Мендоза"
 :description  "Аромат травянисто-фруктовый с нотками листа смородины, лайма; Вкус свежий, сбалансированный"
 :excise       true
 :image        "http://winetime.com.ua/modules/pages/pictures/371x371/1461332635_50416.jpg"
 :item_new     false
 :link         nil
 :name         "Santa Ana Sauvignon Blanc"
 :price        nil
 :producer     "Santa Ana"
 :product-code "Winetime_58448"
 :provider     "Winetime"
 :sale         false
 :trusted      true
 :type         "Вино белое полусухое"
 :vintage      "2015"
 :volume       0.75
 :wine_grape   "100% совиньон блан"
 :wine_sugar   6.0
 }