{:alcohol      40.0
 :available    true
 :country      "Шотландия Спейсайд"
 :description  "Виски янтарного цвета с отблесками. Виски обладает лёгким, свежим ароматом с тонами цитрусов, груши, дуба, нотками орехов и солода. Виски обладает мягким, округлым, сладковатым вкусом с нотками ванили, груши, мёда и длительным, сухим послевкусием с нюансами шоколада."
 :excise       true
 :image        "http://winetime.com.ua/modules/pages/pictures/371x371/1383136619_2461.jpg"
 :item_new     false
 :link         nil
 :name         "Glenfiddich 12Y.O. (в тубусе)"
 :price        1197.0
 :producer     "Glenfiddich"
 :product-code "Winetime_46574"
 :provider     "Winetime"
 :sale         false
 :trusted      true
 :type         "виски односолодовый"
 :vintage      nil
 :volume       0.7
 :wine_grape   nil
 :wine_sugar   nil}