{:alcohol          13.0
 :available        true
 :country          "Новая Зеландия - Мальборо"
 :description      "Оптимальная спелость Совиньон Блана проявляется в выразительном, пышном аромате маракуйи, крыжовника, листьев черной смородины в обрамлении тонких цитрусовых тонов розового грейпфрута и жимолости. Во вкусе вино пронзительно свежее, обладает сбалансированной кислотностью и изящной минеральностью. Послевкусие приятное, освежающее. Отлично сочетается со свежими морепродуктами, овощами гриль и белым мясом."
 :excise           true
 :image            "http://goodwine.com.ua/media/catalog/product/cache/1/image/119x450/9df78eab33525d08d6e5fb8d27136e95/0/5/05776.jpg"
 :item_new         nil
 :link             nil
 :name             "Вино Sauvignon Blanc Marlborough Sun 0,75 л"
 :price            270.0
 :producer         "Saint Clair"
 :product-code     "Goodwine_05776"
 :provider         "Goodwine"
 :sale             true
 :sale-description "Цена при покупке любых 6+ бутылок, 249.00 грн"
 :trusted          true
 :type             "Крепкие Белое Сухое"
 :vintage          nil
 :volume           0.75
 :wine_grape       "Совиньйон Блан"
 :wine_sugar       3.5}